<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.7"/>
 
	  <authorization>
		  <deny users="?"/>
	  </authorization>
	  <authentication mode="Forms">
		  <forms name="ShareAuth" domain="rmtech.com" 
				 loginUrl="Login.aspx" protection="All" path="/"/>
	  </authentication>
	  <machineKey 
		compatibilityMode="Framework20SP2" 
		decryption="AES"
		decryptionKey="89CC4E044B55601A5A77D0F7E9938A4C20BBD919BA5F1CCA"
		validation="AES"
		validationKey="7935A03E7C5E36E8366BF36E1FE104A04E2463999C81A1180C87A7D2B4818F70584169D6CE5C8AEAD9DB33B31D0E5294BB969CF24308FBD073F447341FEA5B08" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
